*{
    padding: 0;
    margin: 0;
    /* overflow: hidden; */
}

body{
    background-color: #222;
    /* height: 96vh; */
}

nav{
    display: flex;
    padding: 10px 25px;
    justify-content: space-between;
    align-items: baseline;
    border-radius: 15px;
    margin: 10px 0px;
    height: 10%;
}
ul a{
    text-decoration: none;
    color: lightslategray;
}
.nav-heading{
    font-size:4rem;
    text-shadow: blue;
    color: rgb(60, 60, 166);
    /* color: orange; */
}
main{
    border: 1px solid slategrey;
    width:100%;
    /* height: 80%; */
    border-radius: 25px;
    backdrop-filter: invert(20%);
    overflow: hidden;
}

footer{
    width: inherit;
    border: 2px solid black;
    background-color: lightslategray;
    text-align: center;
    border-radius: 5px;
}
footer:hover{
    background-color: slategray;
}
.card{
    position: absolute;
    bottom: 10%;
    left: 38%;
    border-radius: 15px;
    width: 20%;
    padding: 50px;
    text-align: center;
    color: black;
    background-color: lightslategray;
    border: 2px solid slategray;
    animation: circle 1s linear 1;
    display: flex;
    gap: 8px;
    flex-direction: column;
}
.card button{
    padding: 10px 50px;
    background-color: blue;
    border-radius: 15px;
}

.card button:hover{
    background-color: rgb(112, 90, 234);
}

.hLine{
border-top: 2px solid black;
}
.dLine{
   border-left: 1px dashed blanchedalmond;
}
.wel{
    text-align: center;
}
.space{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}
#userCard{
    flex-basis: 1/3;
}
#sysCard{
    flex-basis: 1/3;
}
.resultUser{
    width: 20vw;
    min-width: 200px;
    text-align: center;
    flex-basis: 1/3;
}
.resultUser span{
    border: 2px solid slategray;
    height: 20px;
    border-radius: 10px;
    background-color: black;
    padding: 5px 10px;
    color: whitesmoke;
}

.cardSpace{
    border: 2px dotted black;
    margin: 10px 10px;
    /* width: 20vw; */
    min-width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}
.cardSpace img{
    height: 150px;
    border-radius: 25px;
}

.btn-grup{
    display: flex;
    gap: 10%;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px 0px;
    /* border: 2px solid red; */
}

.btn-grup button{
    overflow: hidden;
    box-shadow: 5px;
    border-radius: 50%;
    height: 80px;
    width: 80px;
}
.btn-grup button:hover{
    scale: 1.1;
}

.btn-grup button img{
    height: inherit;
    width: inherit;
}
footer div{
    text-align: center;
    background-color: slategray;
    padding: 10px 30px;
    border-radius: 15px;
    height: 5%;
}


.cir{
    padding: 40px 40px;
    border-radius: 50%;
    background-color: blue;
}
@keyframes circle{
    0%{
      transform:scale(2)
                
    }
    100%{
      transform:scale(1/2)
  }
  }


  /* translate(-165px) */