*{
    padding: 0;
    margin: 0;
    color: whitesmoke;
    /* overflow: hidden; */
}

body{
    background-color: #222;
}

nav{
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-radius: 15px;
    margin: 10px 0px;
}
ul a{
    text-decoration: none;
    color: lightslategray;
}
.nav-heading{
    font-size:4rem;
    text-shadow: blue;
    color: rgb(60, 60, 166);
    /* color: orange; */
}
main{
    border: 1px solid slategrey;
    border-radius: 25px;
    backdrop-filter: invert(20%);
    overflow: hidden;
}

footer{
    width: inherit;
    border: 2px solid black;
    background-color: lightslategray;
    text-align: center;
    border-radius: 5px;
}
footer:hover{
    background-color: slategray;
}
.card{
    width: 180px;
    height: 220px;
    border-radius: 15px;
    text-align: center;
    background-color: orange;
    border: 8px double orangered;
    animation: circle 1s linear 1;
}
.hLine{
border-top: 2px solid black;
}
.dLine{
   border-left: 1px dashed blanchedalmond;
}
.wel{
    text-align: center;
}
.space{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding: 40px;
    /* border: 2px solid red; */
    
}
.cardSpace{
    border: 2px dotted black;
    margin: 10px 10px;
    width: 20vw;
    min-width: 150px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.cardSpace img{
    height: 150px;
    border-radius: 25px;
}

.btn-grup{
    display: flex;
    gap: 10%;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px 0px;
    /* border: 2px solid red; */
}

.btn-grup button{
    overflow: hidden;
    border-radius: 50%;
    height: 80px;
    width: 80px;
}
.btn-grup button img{
    height: inherit;
    width: inherit;
}
.btn-grup+div{
    text-align: center;
    background-color: slategray;
    padding: 10px 30px;
    border-radius: 15px;
}

.resultUser{
    border: 2px dotted orangered;
    /* position: absolute;
    bottom: 0; */
    left: 45%;
    float: left;
    height: 20px;
    background-color: black;
    z-index: 9;
    padding: 5px 10px;
}

.cir{
    padding: 40px 40px;
    border-radius: 50%;
    background-color: blue;
}
@keyframes circle{
    0%{
      transform:rotate(60deg)
      scale(2)
                
    }
    100%{
      transform:rotate(-360deg)
      scale(1/2)
    }
  }


  /* translate(-165px) */